* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100vh;
}

.container {
  padding: 2rem;
  background-color: rgb(39, 43, 51);
  color: rgb(245, 245, 245);
  text-align: center;
}

.characters {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.character {
  margin: 20px;
  width: 600px;
  height: 220px;
  display: flex;
  background-color: rgb(60, 62, 68);
  border-radius: .5rem;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}

.character-image {
  flex: 2 1 0%;
}

.character-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-top-left-radius: .5rem;
  border-bottom-left-radius: .5rem;
}

.character-info {
  padding: 25px;
  flex: 3 1 0%;
  text-align: left;
  color: rgb(245, 245, 245);
}

.character-info .character-name {
  font-size: 1.6rem;
}

.character-info .character-origin {
  margin-top: 10px;
  font-size: 1.1rem;
}

/* PAGINAZIONE */
.pagination {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 20px 0;
}

.pagination-button {
  padding: 12px 24px;
  font-size: 1.5rem;
  border: 0;
  border-radius: 5px;
  margin: 0 12px;
  cursor: pointer;
}

.btn {
  margin-top: 2rem;
  padding: 12px 24px;
  font-size: 1rem;
  border: 0;
  border-radius: 5px;
  background-color: blue;
  color: white;
}